<% @user ||= current_user%>
<table>
<tr>
  <th>ユーザー名</th>
  <td><%= @user.name %></td>
</tr>
<% if current_user?(@user) %>
<tr>
  <th>メールアドレス</th>
  <td><%= @user.email %></td>
</tr>
<% end %>
<tr>
  <th>性別</th>
  <td><%= current_user.sex == 0 ? '未設定' : current_user.sex == 1 ? '男' : '女' %></td>
</tr>
<tr>
  <th>生年月日</th>
  <td><%= current_user.birthday&.strftime("%Y年%m月%d日") %></td>
</tr>
</table>