<div class="like">
  <% if logged_in? && !current_user?(post.user)%>
    <% if !post.liked_users.include?(current_user) %>
      <%= link_to  likes_path(params: { post_id: post.id } ), { method: :post, id: 'like_link' } do %>
        <i class='far fa-heart'></i>
      <% end %>
    <% else %>
      <%= link_to  like_path(post.likes.find_by(user_id: current_user.id)), { method: :delete, id: 'unlike_link' } do %>
        <i class='fas fa-heart'></i>
      <% end %>
    <% end %>
  <% else %>
    <i class='fas fa-heart'></i>  
  <% end %>
  <span class='like_count'><%= post.likes.size %></span>
</div>