<% if !@posts.nil? %>
  <div class="posts">
    <% @posts.each do |post| %>
      <%= render partial: 'posts/post', locals: { post: post, user_path: user_path(post.user), post_path: post_path(post) } %>
    <% end %>
  </div>
<% end%>