<% title_tag_set("会員管理")%>

<h1>会員管理</h1>
<div class='users'>
  <% @users.each do |user| %>
  <div class='user'>
    <%= link_to user.name, admin_user_path(user) %>
    <% unless current_user?(user) %>
      <%= link_to "削除", admin_user_path(user), class: 'delete', method: :delete, data: { confirm: "本当に削除しますか？" } %>
    <% end %>
  </div>
<% end %>
</div>
